@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    display: flex;
    flex-wrap: wrap;
    font-family: "Noto", sans-serif;
    margin: 0;
}

.add {
    background-color: goldenrod;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    color: white;
    padding: 0.5 rem 1 rem;
    margin: 2rem auto;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.note {
    background-color: whitesmoke;
    margin: 20px;
    height: 400px;
    width: 400px;
}

.note .tools {
    background-color: green;
    display: flex;
    justify-content: flex-end;
    padding: 0.5rem;
}

.note .tools button {
    background-color: transparent;
    border: none;
    color: whitesmoke;
    cursor: pointer;
    font-size: 1rem;
    margin-left: 0.5rem;
} 

.note .main {
    background-color: whitesmoke;
    font-family: inherit;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.note textarea {
    outline: none;
    font-family: inherit;
    font-size: 1.2rem;
    border: none;
    height: 363px;
    width: 400px;
}

.note .hidden {
    display: none;
}